.burger{
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 3px ;

}
.dropbtn {
    background-color:#19181A ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #19181A;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdown-content {
    display: none;
    width: 100%;
    position: absolute;
    background-color: #19181A;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-align: left;
    font-size: 20px;
    padding-top: 5px;

    text-decoration: none;
    display: block;
}


.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


/*----------------------------------------------------------*/

/*Einde van de Hamburger menu*/
/*-------------------------------------------------------------------------*/
/*de witte tekstvelden */

p {
    color: #AAA9AB;
}
.container-1 {
    padding-top: 10px;
}

.box-1 {
    bottom: 5px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    align-items: end;
    height: 200px;

}

.box-2 {
    bottom: 5px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    align-items: end;
    height: 200px;
}

.box-3 {

    bottom: 5px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    align-items: end;
    height: 200px;
}
.box-4 {

    bottom: 5px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    align-items: end;
    height: 200px;
}


/*einde witte tekstvelden*/
/*----------------------------------------------*/
div {
    position: relative;
}

.headertekst {
    color: white;
    text-align: center;
}


header{
    /*background-color: #181818;*/
    background-color: #19181A;
    text-align: center;

}
#footer {
    background-color: #181818;
    text-align: center;
    height: 50px;
}


section {
    padding-top: 0px;
    padding-right: 10%;
    padding-left: 10%;
}
p {
    display: flex;
    align-items: flex-end;

    position:absolute;

    bottom: 30px;

}
#h1 {
    position:absolute;
    text-align: center;
    bottom: 0px;
}

article#tekst {
    background-color: white;
    width: 90%;
    padding: 20px;
    height: 850px;



}

img {
    padding-left: 10px;
    padding-right: 10px;
}
h3  {
    padding-left: 10px;
    padding-right: 10px;
}
#challenge {
    padding-left: 105px;
    text-align: center;
}
